* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: arial;
}

body {
  background-color: rgb(44, 44, 44);
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.transform {
  height: 300px;
  width: 300px;
  background-color: green;
  padding: 1rem;
}

.transform > img {
  transition: transform 1s;
}

img {
  width: 100%;
}

.rotate > img:hover {
  /* 
  deg 0 - 360
  turn 0.0 - 0.99
  rad 
  */
  transform: rotate(155deg);
}

.scale > img:hover {
  /* 1 - infinity */
  transform: scale(1.5);
}

.skew > img:hover {
  /* deg 0 - 180 */
  transform: skew(20deg);
}

.translate > img:hover {
  width: 80%;
  transform: translate(67px, -100px);
}

.chain > img:hover {
  width: 50%;
  transform: skew(48deg) rotate(278deg) translate(-100px);
}

.perspective > img:hover {
  width: 50%;
  transform: perspective(200px) translate(150px) rotateX(45deg);
}

.t-origin > img:hover {
  transform: rotate(360deg);
  transform-origin: left bottom;
}
