:root {
  --text-color: rgb(0, 0, 0);
  --background-color: rgb(46, 46, 46);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: arial;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
}

p {
  font-size: 1rem;
  color: var(--text-color);
}

body.light-theme {
  --background-color: rgb(226, 226, 226);
  --text-color: rgb(226, 226, 226);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.transform {
  height: 300px;
  width: 300px;
  background-color: green;
  padding: 1rem;
}

.transform img {
  will-change: transform;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.5s;
}

img {
  width: 100%;
}

.rotate > img:hover {
  /* 
  deg 0 - 360
  turn 0.0 - 0.99
  rad 
  */
  transform: rotate(155deg);
}

.scale > img:hover {
  /* 1 - infinity */
  transform: scale(1.5);
}

.skew > img:hover {
  /* deg 0 - 180 */
  transform: skew(70deg);
}

.translate > img:hover {
  transform: translate(67px, -100px);
}

.chain > img:hover {
  transform: skew(48deg) rotate(278deg) translate(-100px);
}

.perspective > img:hover {
  transform: perspective(200px) translate(150px) rotateX(45deg);
}

.t-origin > img:hover {
  transform: rotate(360deg);
  transform-origin: left bottom;
}

/* transition timing function */

.easeout div:hover img,
.easein > img:hover,
.easeinout > img:hover {
  transform: translate(100%, 100%);
}

.easeout img {
  transition: transform 1s ease-out;
  width: 60%;
  height: auto;
}

.easeout div {
  border: 1px solid black;
}

.easein > img {
  transition: transform 1s ease-in;
  width: 60%;
}

.easeinout > img {
  transition: trans form 1s ease-in-out;
  width: 60%;
}

.in-and-out {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.in-and-out > img {
  will-change: transform;
  width: 60%;
}

.translateDown {
  transform: translateY(200px);
}

/* animation practice */

.animate img {
  animation-name: change-bg-color, change-img-opacity;
  animation-duration: 2s, 2s;
  animation-iteration-count: infinite;
}

.animate p {
  animation: 2s change-font-color infinite alternate;
}

@keyframes change-font-color {
  0% {
    color: black;
  }

  100% {
    color: white;
  }
}

@keyframes change-bg-color {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgb(43, 43, 43);
  }
}

@keyframes change-img-opacity {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

.animate-backnforth > img {
  width: 50%;
  animation-name: box-dance;
  animation-duration: 4s;
  animation-iteration-count: 5;
  animation-direction: alternate;
}

@keyframes box-dance {
  25% {
    /* 100px right and 0px down */
    transform: translate(100px, 0) rotate(360deg);
  }

  50% {
    /* 100px right and 100px down */
    transform: translate(100px, 100px);
    opacity: 100%;
  }

  75% {
    /* 0px right and 100px down */
    transform: translate(0, 100px);
    opacity: 0%;
  }
}

.fade-in {
  display: block;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes L-move {
  50% {
    transform: translate(0, var(--movement));
  }

  100% {
    transform: translate(var(--movement), var(--movement));
  }
}

.reusable-animation img {
  width: 20%;
  animation: L-move 5s linear infinite alternate;
}

.reusable-animation .t1 {
  --movement: 150px;
}

.reusable-animation .t2 {
  --movement: 100px;
}

.reusable-animation .t3 {
  --movement: 50px;
}

/* animation task 1 */

.animation-task1 > img {
  transition: transform 0.5s ease-in-out;
}

.animation-task1 > img:hover {
  transform: scale(1.3);
}

.modal-pop-up {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0%;
  position: relative;
  height: 10px;
  top: -50%;
  transition:
    transform 0.3s ease-in,
    opacity 0.3s ease-out;
}

.modal.show {
  opacity: 100%;
  transform: translateY(100px);
}

.modal-pop-up > img {
  width: 70%;
}

/* drop-down exercise */

.drop-down button {
  font-size: 2rem;
}

#menu-button {
  width: 100%;
}

.tea-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.tea-button {
  width: 100%;
}

.show {
  animation: show-drop-down 0.3s linear;
  transform-origin: top;
  display: block;
}

@keyframes show-drop-down {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}
